.friends-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  height: 60px;
  padding: 1rem;
  color: #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}
$btn-profile-events-color: #aaa;
$btn-profile-events-bg: #fff;
$btn-profile-events-border: 1px solid #ddd;

.btn-profile {
  background-color: $btn-profile-events-bg;
  border: 1px solid #ddd;  
  button {
    color: darken($btn-profile-events-color, 30%) !important;
    &:hover {
      color: darken($btn-profile-events-color, 50%) !important;
      background-color: darken($btn-profile-events-bg, 10%) !important;
    }
    &:active {
      color: darken($btn-profile-events-color, 80%) !important;
      background-color: darken($btn-profile-events-bg, 10%) !important;
    }
    &:visited {
      color: darken($btn-profile-events-color, 80%) !important;
      background-color: darken($btn-profile-events-bg, 10%) !important;
    }
    &:focus {
      color: darken($btn-profile-events-color, 80%) !important;
      background-color: darken($btn-profile-events-bg, 10%) !important;
    }
  }
}

.search-center {
  text-align: center;
  margin: 0 auto;
}

.search-menu-w40 {
  width: 40%;
}

.App-intro {
  font-size: large;
}

.header-profile {
  img {
    width: 45px;
    height: 45px;
  }
}

.btn-header > button {
  border: none !important;
  color: darken($btn-profile-events-color, 30%) !important;
  &:hover {
    color: darken($btn-profile-events-color, 50%) !important;
    background-color: transparent !important;
  }
  &:active {
    color: darken($btn-profile-events-color, 80%) !important;
    background-color: transparent !important;
  }
  &:visited {
    color: darken($btn-profile-events-color, 80%) !important;
    background-color: transparent !important;
  }
  &:focus {
    color: darken($btn-profile-events-color, 80%) !important;
    background-color: transparent !important;
  }
}
