.login-page-bg {
   background: url('../../img/friends-night-login-bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    /*To support older browsers*/
    height: 100%;
    width: 100%;

    position: absolute;

    /* match the viewport size. */
    height: 100vh;
    width: 100vw;

    background-repeat: no-repeat;
    background-size: 100%; 
}

.fn-login{
  margin-top: 10px;
  color: #fff !important;

  a {
    color: #fff !important;
  }
}

.fn-fb-login-container {
  margin-top: 15px;
  background: #fff;
  border-radius: 8px;
  padding: 6px;
}

.fn-login-title-container{
  display: flex;
  align-items: center;
}

.fn-login-container{
  width: 400px;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  background: #323 !important;
  margin: auto;
}

.fn-login-form{
  margin: 0 auto;
  padding: 1rem;
}

.input-group{
  margin-top: 0.5rem;
}

.btn-login{
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.login-options{
  display: flex;
  align-items: center;
}

.error-msg{
  display: block !important;
  margin: 1rem;
  padding: 8px 0 !important;
}