
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.friends-header {
  position: fixed;
  width: 100%;
  background-color: #323;
  height: 60px;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}

.friends-header-item-group{
  
}

.friends-header-item-group li a{
  background-color: white;
  color: #323;
}

.search-center{
  text-align: center;
  margin: 0 auto;
}

.search-menu-w40{
  width: 40%;
}


.App-intro {
  font-size: large;
}

.header-profile{
  display: flex;
}

.header-profile:hover .btn-profile-header  {
  border: 1px solid white;
}

.header-profile:hover{
  cursor: pointer;
}

.header-profile img{
  width: 45px;
  height: 45px;
  background: gray;
  border: 1px solid black;
  z-index: 1;
}

.btn-profile-header { 
  background: transparent;
  color: white !important;
  border: none;
  padding: 10px !important;
  padding-left: 30px !important;
  margin-left: -20px;
  z-index: 0;
}

.btn-profile-header:hover{
  
}

.fn-content-feed-padding{
  padding-right: 230px !important;
  padding-left: 230px !important;
}

.fn-content-feed{
  border: 1px solid lightgrey;
  background: #323 !important;
  margin-top: 100px;
}


.fn-ads-container{
  position: fixed;
  width: 300px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #323 !important;
  left: 0;
  top: 100px;
}

.fn-ads{
  padding: 1rem;
  color: #fff;
}

.fn-my-next-events-container{ 
  position: fixed;
  width: 250px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background: #323 !important;
  right: 0;
  top: 100px;
}

.fn-my-next-events{
  padding: 1rem;
  color: #fff;
}

.fn-my-next-events li{
  color: Gray;
}

.img-feed{
  width: 100px;
  height:100px;
}

.mr-1{
  margin-right: 0.5rem;
}

.text-white{
  color: #fff;
}

.btn-underline-default { 
    background: transparent;
    color: #fff;
    border: 1px solid #fff !important;
}

.btn-underline-default:hover { 
    background: #fff;
    color: #323;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
