
.fn-ads-container{
  position: fixed;
  width: 325px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #ddd;
  background: #fff !important;
  left: 0;
  top: 100px;
}

.fn-ads{
  padding: 1rem;
  color: darken(#aaa, 50%);
}
