.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.friends-header {
  background-color: #323;
  height: 60px;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.friends-header-item-group{
  
}

.friends-header-item-group li a{
  background-color: white;
  color: #323;
}

.search-center{
  text-align: center;
  margin: 0 auto;
}

.search-menu-w40{
  width: 40%;
}


.App-intro {
  font-size: large;
}

.header-profile{
  display: flex;
}

.header-profile:hover .btn-profile-header  {
  border: 1px solid white;
}

.header-profile:hover{
  cursor: pointer;
}

.header-profile img{
  width: 45px;
  height: 45px;
  background: gray;
  border: 1px solid black;
  z-index: 1;
}

.btn-profile-header { 
  background: transparent;
  color: white !important;
  border: none;
  padding: 10px !important;
  padding-left: 30px !important;
  margin-left: -19px;
  z-index: 0;
}

.btn-profile-header:hover{
  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
